.card {
  .title-main {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
  }
}

.card__wrap {
  position: relative;
}

.gallery-top {
  width: 100%;
  height: 780px;
}

.card__slide {
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    display: block;
    flex: 0 0 auto;
  }
}

.gallery-thumbs {
  height: 78px;
  margin-bottom: 20px;
  box-sizing: border-box;
  
  .swiper-wrapper {
    justify-content: center;
  }
}

.gallery-thumbs .swiper-slide {
  width: 112px;
  height: 100%;
  opacity: 1;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;
  box-sizing: border-box;
  opacity: 0.5;
  
  img {
    display: block;
    flex: 0 0 auto;
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  border-color: @yellow;
  opacity: 1;
}

.card__title-wrap {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.card__title {
  width: 555px;
  max-width: 100%;
}

.card__price-wrap {
  width: 195px;
}

.card__price {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333b44;
  font-size: 40px;
  font-weight: 700;
}

.card__articul {
  color: #333b44;
  font-size: 14px;
  
  span {
    color: #9f9d9d;
  }
  
  a {
    font-size: 16px;
    font-weight: 700;
    color: @yellow;
    .transition();
    
    &:hover,
    &:active {
      color: @black;
      .transition();
    }
  }
}

.card__btn {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 0;
}
