@media(max-width: 1170px) {
  .wrapper {
    width: 100%;
  }
  .search__input {
    position: static;
    width: 150px;
    height: 30px;
    opacity: 1;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
  }
  .search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 3px;
  }
  .search__btn {
    background-position: center;
  }
  .logo {
    padding-top: 0;
  }
  .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 14px;
  }
  .menu__list {
    display: none;
    position: absolute;
    top: 80px;
    left: 50%;
    right: 0;
    z-index: 100;
    background-color: @yellow;
  }
  .menu__item {
    margin: 0;
    
    &:hover {
      .menu__sublist {
        display: block;
      }
    }
  }
  .menu__link {
    padding: 10px;
  }
  .menu__item--active,
  .menu__item:active,
  .menu__item:hover {
    color: @black;
  }
  .menu__sublist {
    position: static;
    display: block;
    width: 100%;
    padding-left: 35px;
  }
  .product__list {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
  }
  .product__item {
    margin-right: 0;
  }
  .header-internal {
    img {
      max-width: 150px;
    }
    .logo strong {
      font-size: 12px;
      padding-bottom: 5px;
    }
    .menu {
      margin-left: auto;
      margin-right: 20px;
      padding-top: 0;
    }
    .menu__btn {
      position: relative;
      z-index: 5;
      
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: rgb(51, 59, 68);
        border-radius: 5px 5px 5px 0;
        background-image: url(../img/icons/menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px 14px;
      }
    }
    .header__contacts {
      margin-left: 17px;
      padding: 0;
    }
    .header__wrap {
      align-items: center;
    }
    .search {
      padding-top: 0;
    }
    .search__input {
      border: 0;
    }
  }
  .catalog__list {
    margin-right: 0;
  }
}

//-------------------------------------------
@media(max-width: 1022px) {
  .logo img {
    max-width: 150px;
  }
  .promo__wrap .wrapper {
    padding-left: 300px;
  }
  .product__item:nth-child(4n) {
    width: 322px;
    height: 456px;
    
    .product__link {
      .product__info {
        bottom: 45px;
        text-align: center;
        padding-right: 0;
      }
      .product__more {
        padding-right: 0;
      }
    }
  }
  .footer__block {
    border-left: 0;
    padding-left: 0;
  }
  .footer__block--contacts {
    padding-right: 0;
  }
  .footer {
    background-image: none;
  }
  .wrapper--columns {
    flex-direction: column-reverse;
  }
  .wrapper__content {
    width: 100%;
  }
  .catalog__list {
    justify-content: space-around;
  }
  .catalog__item {
    margin-right: 0;
  }
  .pages {
    justify-content: center;
  }
  .header-internal {
    background-position: left -350px top;
  }
  .sidebar {
    padding-top: 0;
    width: 100%;
  }
  .sidebar__btn--filter,
  .sidebar__nav {
    width: 195px;
    margin-left: auto;
    margin-right: auto;
  }
  .filter__form {
    display: flex;
    flex-wrap: wrap;
  }
  .filter__field {
    width: 50%;
  }
  .filter__wrap,
  .sidebar__menu {
    display: none;
  }
  .sidebar__btn {
    padding-top: 0;
  }
  .sidebar__btn--filter {
    display: block;
  }
  .filter {
    border: 0;
  }
}

//-------------------------------------------
@media(max-width: 766px) {
  .footer__nav,
  .footer__shop {
    display: none;
  }
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .footer__block .social {
    justify-content: center;
    padding-left: 10px;
  }
  .footer__logo img {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__title {
    position: relative;
    width: 200px;
    padding-right: 30px;
    padding-left: 30px;
    
    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 8px;
      height: 12px;
      background-image: url(../img/icons/next-yellow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(90deg);
    }
  }
  .footer__block {
    padding-bottom: 0;
  }
  .promo__wrap .wrapper {
    padding-left: 15px;
  }
  .promo__wrap {
    font-size: 36px;
  }
  .header__contacts {
    position: absolute;
    top: 80px;
    right: 15px;
  }
  .logo img {
    max-width: 100px;
  }
  .logo span {
    font-size: 10px;
  }
  .logo strong {
    font-size: 12px;
  }
}

//-------------------------------------------
@media(max-width: 480px) {
  .promo__slide {
    min-height: 100vh;
  }
  .promo__wrap {
    padding-top: 250px;
  }
  .menu__list {
    left: 0;
    top: 70px;
  }
  .filter__field,
  .footer__wrap {
    width: 100%;
  }
  .product__title {
    font-size: 24px;
  }
  .product__more {
    font-size: 16px;
  }
  .menu {
    margin-right: 10px;
  }
  .search__input {
    width: 100px;
  }
  .title-main {
    font-size: 26px;
  }
  .header-internal .header__wrap {
    flex-wrap: wrap;
  }
  .header-internal .header__contacts {
    position: static;
  }
  .header-internal {
    background-image: none;
    
    .logo__stamp {
      display: block;
    }
    .menu__list {
      top: 100%;
    }
  }
}
