.title {
  margin-bottom: 17px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.link {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: @yellow;
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
